@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,800italic,400,800");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  font-family: "Quicksand", sans serif;
}

body {
  background-color: #1f2933;
  margin: 0;
}

main {
  padding: 0 2rem;
}

h1 {
  color: #8ad1fd;
  display: flex;
  justify-content: center;
  text-align: center;
}

#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.introtext {
  color: #f5f7fa;
  font-size: 1.2rem;
  font-weight: 300;
}

.movie-front {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie {
  width: 20rem;
  height: 31rem;
  background-color: #f5f7fa;
  color: black;
  border-radius: 1rem;
  margin-bottom: 4rem;
}

article.movie > a {
  text-decoration: none;
  color: black;
}

article.movie > a:visited {
  color: black;
  /* text-decoration: none; */
}

.movie:hover {
  box-shadow: 0 0 12px 3px #8ad1fd;
}

article img {
  width: 100%;
  height: auto;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.line {
  height: 5.5rem;
  width: 5px;
  border-radius: 1rem;
  background-color: black;
}

.wrapper {
  display: flex;
  margin-left: 1rem;
}

.textwrap {
  margin-left: 1rem;
  margin-top: -0.8rem;
  width: 100%;
  margin-right: 2rem;
}

h4 {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

.fav {
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin-top: -1rem;
  margin-bottom: 2.5rem;
}

.starwrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.star {
  width: 20px;
  margin-right: 5px;
}

.ratingagewrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.genre1 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 700px) {
  /* main {
    padding: 2rem 2rem;
  } */

  .movie-front {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }

  .movie {
    width: 15rem;
    height: 25rem;
    background-color: #f5f7fa;
    color: black;
    border-radius: 1rem;
    flex-wrap: wrap;
  }

  article.movie > a:visited {
    color: black;
    /* text-decoration: none; */
  }

  .movie + .movie {
    margin-left: 2rem;
  }

  .introtext {
    width: 70%;
  }
}
