@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

:root {
  --bg-color: #1f2933;
  --sky-blue-color: #8ad1fd;
  --orange-color: #ff9900;
  --main-text-color: #f5f7fa;
}

body {
  background-color: var(--bg-color);
  font-family: "Quicksand", sans-serif;
  color: var(--main-text-color);
  margin: 0;
}

h2 {
  font-size: 1.3rem;
  color: var(--sky-blue-color);
  text-align: center;
  margin: 1rem;
}

article {
  display: flex;
  gap: 0.7rem;
  align-items: center;
  margin: 1rem;
}

.poster {
  width: 60px;
  border-radius: 5px;
}

.star {
  width: 20px;
}

.rating a {
  color: var(--main-text-color);
  text-decoration: none;
  width: 100%;
}

p:nth-of-type(2) {
  width: 50px;
}
